<!--The whole content below can be removed with the new code.-->
<div style="text-align:left">
  <h1>
    Hello World
  </h1>
  <h2>Parrent Component</h2>
  <label>Enter Parent AppComponet Value</label>
  <input type="text" #ptext (keyup)="0" />
  <p>Value of child Component: {{childData}}</p>
  <h2>Pipes</h2>
  <p>{{ date }}</p>
  <p>{{ date | date:'fullDate' }}</p>
  <p>{{ date | date:'shortDate' }}</p>
  <p>{{ date | date:'mediumTime' }}</p>
  <p>{{ date | date:'shortTime' }}</p>
  <p>{{ name | uppercase }}</p>
  <p>{{ name | lowercase }}</p>
  <p>{{ name | slice:'2':'4' }}</p>
  <p>{{ 8.567 }}</p>
  <p>{{ 8.567 | number:'1.2-3' }}</p>
  <p>{{ 8.567 | number:'2.2-3' }}</p>
  <p>{{ 8.567 | number:'2.4-4' }}</p>
  <p>{{ 8.567 | number:'4.5-6' }}</p>
  <p>{{ 8.567 | number:'2.2-2' }}</p>
  <p>{{ 8.99 | currency:'INR':true }}</p>
  <p>{{ 8.99 | currency:'USD':true }}</p>
  <p>{{ 8.99 | currency:'GBP':true }}</p>
  <my-tutorials (childEvent)="childData=$event"  [parentData]="ptext.value"></my-tutorials>
  <sub-app></sub-app>
</div>


